
@font-face {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    src: url(trebuc.ttf);
}

@font-face {
    font-family: "gilroy";
    src: url(Gilroy-Regular.otf);
}

@font-face {
    font-family: "garamond";
    src: url(Garamond-Serial-ExtraLight-Regular.ttf);
}

@font-face {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    src: url(gs.ttf);
}

@font-face {
    font-family: sans-serif;
    src: url(micross.ttf);
}

@font-face {
    font-family: serif;
    src: url(micross.ttf);
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#main{
    width: 100%;
    background-color: whitesmoke;
}

body::-webkit-scrollbar{
    display: none;
}

#nav{
    width: 100%;
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 9999;
    position: fixed;
    background-color: #F6F6F4;
}

#nav1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    margin-left: 20px;
}

#nav1>a{
    font-family: gilroy;
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
    font-size: 12px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#nav1>a:hover{
    text-decoration: underline;
}

#nav2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    margin-right: 20px;
}

#nav2>a{
    font-family: gilroy;
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
    font-size: 12px;
}

#nav2>a:hover{
    text-decoration: underline;
}

#nav2>a>i{
    font-size: 15px;
}

#img{
    top: 10%;
    left: 1.5%;
    position: absolute;
    width: 97%;
    height: 86%;
}

#img>img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#img>h1{
    top: 75%;
    left: 50%;
    -webkit-transform: translate(-50%,-70%);
        -ms-transform: translate(-50%,-70%);
            transform: translate(-50%,-70%);
    position: absolute;
    font-size: 70px;
    letter-spacing: -2px;
    white-space: nowrap;
    font-family: garamond;
    color: #fff;
    font-weight: 100;
}

#btn{
    padding: 18px 28px;
    border: none;
    top: 95%;
    left: 50%;
    -webkit-transform: translate(-50%,-95%);
        -ms-transform: translate(-50%,-95%);
            transform: translate(-50%,-95%);
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 100;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#btn:hover{
    background-color: black;
    color:#F6F6F4;
}

#imgtext{
    width: 97%;
    height: 100%;
    top: 100%;
    left: 1.5%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#it1{
    width: 50%;
    height: 100%;
    background-color: azure;
}

#it1>img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#it2{
    width: 50%;
    height: 100%;
    background-color: #EFECE6;
    position: relative;
}

#text1{
    width: 40%;
    height: 5%;
    left: 20%;
    top: 20%;
    position: absolute;
}

#text1>h1{
    font-family: garamond;
    font-weight: 100;
    font-size: 50px;
    letter-spacing: -1px;
}

#text2{
    width: 50%;
    height: 5%;
    left: 25%;
    top: 28%;
    position: absolute;
}

#text2>h1{
    font-family: garamond;
    font-weight: 100;
    font-size: 50px;
    letter-spacing: -1px;
}

#text3{
    width: 45%;
    height: 5%;
    left: 56%;
    top: 45%;
    position: absolute;
}

#text3>h1{
    font-family: garamond;
    font-weight: 100;
    font-size: 50px;
    letter-spacing: -3px;
    font-style: italic;
}

#para{
    width: 70%;
    height: 5%;
    left: 20%;
    top: 60%;
    position: absolute;
}

#para>p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 22px;
}

#linetext{
    top: 78%;
    left: 20%;
    position: absolute;
    width: 70%;
    height: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#linetext>h2{
    font-size: 20px;
    font-family: garamond;
    font-weight: 100;
}

#linetext>h2>i{
    font-size: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#btn2{
    padding: 12px 22px;
    top: 90%;
    left: 20%;
    position: absolute;
    border: none;
    background-color: #ddd8d8;
    letter-spacing: 3px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#btn2:hover{
    background-color: black;
    color: #EFECE6;
}

#block{
    width: 100%;
    height: 150%;
    top: 200%;
    position: absolute;
    background-color: #F5F5F5;
}

#immg1{
    width: 15%;
    height: 22%;
    left: 33%;
    top: 10%;
    position: absolute;
}

#immg1>img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#immg2{
    width: 19%;
    height: 25%;
    left: 79.5%;
    top: 32%;
    position: absolute;
}

#immg2>img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#immg3{
    width: 12%;
    height: 23%;
    left: 3%;
    top: 36%;
    position: absolute;
}

#immg3>img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#blocktext{
    width: 50%;
    height: 10%;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%,-45%);
        -ms-transform: translate(-50%,-45%);
            transform: translate(-50%,-45%);
    position: absolute;
}

#blocktext>h2{
    font-size: 60px;
    font-family: garamond;
    font-weight: 500;
}

#blocktext>h2>span{
    font-style: italic;
}

#blocktextpara{
    width: 40%;
    height: 10%;
    left: 50%;
    top: 53%;
    -webkit-transform: translate(-50%,-53%);
        -ms-transform: translate(-50%,-53%);
            transform: translate(-50%,-53%);
    position: absolute;
}

#blocktextpara>p{
    margin-top: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#blocktextpara>button{
    padding: 18px 28px;
    border: none;
    top: 195%;
    left: 50%;
    -webkit-transform: translate(-50%,-95%);
        -ms-transform: translate(-50%,-95%);
            transform: translate(-50%,-95%);
    position: absolute;
    background-color: #B5B1A9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 100;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#blocktextpara>button:hover{
    background-color: black;
    color:#F6F6F4;
}

#immg4{
    width: 9%;
    height: 17%;
    top: 70%;
    left: 60%;
    position: absolute;
}

#immg4>img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#immg5{
    width: 15%;
    height: 20%;
    background-color: chocolate;
    left: 23%;
    top: 70%;
    position: absolute;
}

#immg5>img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#company{
    width: 100%;
    height: 100%;
    top: 350%;
    position: absolute;
    background-color: #F6F6F4;
}

#diffcompany{
    width: 97%;
    height: 100%;
    left: 1.5%;
    position: absolute;
    background-color: #E4E1DC;
}

#logos{
    height: 8vh;
    top: 80vh;
    width: 75vw;
    left: 12.5vw;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
}

#logos>img{
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
    -webkit-transition: all ease .7s;
    -o-transition: all ease .7s;
    transition: all ease .7s;
}

#logos>img:hover{
    -webkit-filter: opacity(1);
            filter: opacity(1);
}

#qourts{
    width: 80vw;
    height: 60vh;
    top: 10vh;
    left: 8.5vw;
    position: absolute;
}

#Q1{
    position: absolute;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
}

#Q1>h1{
    font-size: 3vw;
    font-family: garamond;
    font-style: italic;
    font-weight: 100;
}

#Q2{
    position: absolute;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    opacity: 0;
}

#Q2>h1{
    font-size: 3vw;
    font-family: garamond;
    font-style: italic;
    font-weight: 100;
}

#Q3{
    position: absolute;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    opacity: 0;
}

#Q3>h1{
    font-size: 3vw;
    font-family: garamond;
    font-style: italic;
    font-weight: 100;
}

#Q4{
    position: absolute;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    opacity: 0;
}

#Q4>h1{
    font-size: 3vw;
    font-family: garamond;
    font-style: italic;
    font-weight: 100;
}

#Q5{
    position: absolute;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    opacity: 0;
}

#Q5>h1{
    font-size: 3vw;
    font-family: garamond;
    font-style: italic;
    font-weight: 100;
}
#featured{
    width: 100%;
    height: 150%;
    top: 450%;
    position: absolute;
    background-color: #F6F6F4;
    
}

#navigation{
    width: 97%;
    height: 7%;
    top: 7%;
    left: 1.5%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#navigation>h1{
    font-family: garamond;
    font-size: 60px;
    font-weight: 100;
}

#navigation>h3{
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
    font-size: 1.2VW;
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
}

#navigation #first{
    color: black;
}

#bbt{
    margin-left: 60%;
    
}

#bbt>button{
    padding: 12px 22px;
    border: none;
    background-color: #ccc7b7;
    letter-spacing: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#bbt>button:hover{
    color: #ccc7b7;
    background-color: black;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

#photodiv{
    width: 100%;
    height: 140%;
    top: 17%;
    position: absolute;
    background-color: #F6F6F4;
}

#over{
    width: 97%;
    height: 40%;
    left: 1.5%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    opacity: 1;
}

#photu{
    width: 97%;
    height: 40%;
    left: 1.5%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#overlay1{
    width: 33.1%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 99;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}

#overlay1>img{
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
    opacity: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#quick{
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
    width: 100%;
    height: 10%;
    background-color: black;
    bottom: -10%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#quick>a{
    text-decoration: none;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5vw
}

#overlay2{
    width: 33.1%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 99;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}

#overlay2>img{
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
    opacity: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#overlay3{
    width: 33.1%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 99;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}

#overlay3>img{
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
    opacity: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#photo1{
    width: 33.1%;
    height: 100%;
    position: relative;
    background-color: #EFECE6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}

#photo1>img{
    width: 500px;
    height: 550px;
}

#txt1{
    width: 100%;
    height: 15%;
    top: 85%;
    position: absolute;
    padding: 12px 22px;
}

#txt1>h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 100;
}

#txt1>h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin-top: 5px;
}

#txt1>h1{
    left: 85%;
    position: absolute;
    top: 40%;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#photo2{
    width: 33.1%;
    height: 100%;
    background-color: #EFECE6;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}

#photo2>img{
    width: 500px;
    height: 550px;

}


#txt2{
    width: 100%;
    height: 15%;
    top: 85%;
    position: absolute;
    padding: 12px 22px;
}

#txt2>h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 100;
}

#txt2>h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin-top: 5px;
}

#txt2>h1{
    left: 85%;
    position: absolute;
    top: 40%;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#photo3{
    width: 33.1%;
    height: 100%;
    background-color: #EFECE6;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}

#photo3>img{
    width: 290px;
    height: 330px;
}

#txt3{
    width: 100%;
    height: 15%;
    top: 85%;
    position: absolute;
    padding: 12px 22px;
}

#txt3>h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 100;
}

#txt3>h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin-top: 5px;
}

#txt3>h1{
    left: 85%;
    position: absolute;
    top: 40%;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#over2{
    width: 97%;
    height: 40%;
    left: 1.5%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    opacity: 0;
}

#overlay21{
    width: 33.1%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 99;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}

#overlay21>img{
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
    opacity: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#overlay22{
    width: 33.1%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 99;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}

#overlay22>img{
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
    opacity: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#overlay23{
    width: 33.1%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 99;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}

#overlay23>img{
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
    opacity: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#photu2{
    width: 97%;
    height: 40%;
    left: 1.5%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: rgba(207, 207, 228, 0.438);
    opacity: 0;
}

#photo21{
    width: 33.1%;
    height: 100%;
    background-color: #EFECE6;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}

#photo21>img{
    width: 500px;
    height: 550px;
}

#photo22{
    width: 33.1%;
    height: 100%;
    background-color: #EFECE6;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}

#photo22>img{
    width: 500px;
    height: 550px;
}

#photo23{
    width: 33.1%;
    height: 100%;
    background-color: #EFECE6;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}

#photo23>img{
    width: 500px;
    height: 550px;
}

#over3{
    width: 97%;
    height: 40%;
    left: 1.5%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    opacity: 0;
}

#overlay31{
    width: 33.1%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 99;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    background-color: #EFECE6;
}

#overlay31>img{
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
    opacity: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#overlay32{
    width: 33.1%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 99;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}

#overlay32>img{
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
    opacity: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#overlay33{
    width: 33.1%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 99;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}

#overlay33>img{
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
    opacity: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}


#photu3{
    width: 97%;
    height: 40%;
    left: 1.5%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: rgba(207, 207, 228, 0.438);
    opacity: 0;
}

#photo31{
    width: 33.1%;
    height: 100%;
    background-color: #EFECE6;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}

#photo31>img{
    width: 700px;
    height: 750px;
}

#photo32{
    width: 33.1%;
    height: 100%;
    background-color: #EFECE6;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}

#photo32>img{
    width: 700px;
    height: 750px;
}

#photo33{
    width: 33.1%;
    height: 100%;
    background-color: #EFECE6;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}

#photo33>img{
    width: 700px;
    height: 750px;
}

#openions{
    width: 100%;
    height: 40%;
    top: 45%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F6F6F4;
}

#headd{
    width: 97%;
    height: 15%;
    top: 0%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#headd>h1{
    font-family: garamond;
    font-size: 60px;
    letter-spacing: -3px;
    font-weight: 200;
}

#screen{
    top: 15%;
    position: absolute;
    width: 97%;
    height: 85%;
    background-color: rgb(214, 204, 204);
}

#blac{
    width: 100%;
    height: 100%;
    background-color: #F6F6F4;
    position: absolute;
    top: 137%;
}

#Ethical{
    top: 30%;
    width: 97%;
    height: 80%;
    left: 1.5%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.e{
    width: 24.5%;
    height: 100%;
}

.e>h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3vw;
    font-weight: 100;
    margin-top: 10px;

}

.e>p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3vw;
    font-weight: 100;
    margin-top: 10px;
}

.e>button{
    background-color: #e7e7e7;
    color: black;
    font-size: 1vw;
    letter-spacing: 2px;
    padding: 18px 28px;
    border: none;
    margin-top: 15px;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    opacity: 0;
}

.e>button:hover{
    background-color: black;
    color:#fff ;
}

#e1>h1{
    font-size: 4vw;
    font-weight: 100;
    font-family: garamond;
}

#e1>h1>span{
    font-style: italic;
}

#e2>img{
    width: 100%;
}

#e3>img{
    width: 100%;
}

#e4>img{
    width: 100%;
}

#blank{
    width: 100%;
    height: 90%;
    top: 235%;
    position: absolute;
    background-color: #F6F6F4;
}

#sus{
    width: 97%;
    left: 1.5%;
    position: absolute;
    height: 85%;
}

#sus>img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#to{
    position: absolute;
    top: 5%;
    left: 3%;
    width: 45%;
    height: 43%;
}

#to>h1{
    margin-top: 5%;
    letter-spacing: 2px;
    font-size: 1.05vw;
    font-weight: 100;
    font-family: sans-serif;
    color: grey;
}

#to>p{
    margin-top: 2%;
    font-size: 2.2vw;
    font-weight: 100;
    font-family: serif;
}

#to>button{
    padding:18px 40px;
    border: none;
    margin-top: 20px;
    color: black;
    background-color: #fff;
    font-size: 1vw;
    letter-spacing: 2px;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

#to>button:hover{
    background-color: black;
    color: #fff;
}

#get{
    width: 100vw;
    height: 120vh;
    top: 910vh;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F6F6F4;

}

#get>h1{
    font-size: 5vw;
    font-family: garamond;
    letter-spacing: -4.5px;
    font-weight: 200
}

#iimmg{
    margin-top: 10px;
    width: 33vw;
    height: 90vh;
}

#iimmg>img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#iiimg{
    width: 19vw;
    height: 19vw;
    z-index: 99;
    position: absolute;
    left: 60vw;
    top: 18vh;
}

#iiimg>img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#immmg{
    width: 19vw;
    height: 19vw;
    z-index: 99;
    position: absolute;
    left: 22vw;
    top: 58vh;
}

#immmg>img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#vintage{
    width: 30vw;
    height: 10vh;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#vintage>h2{
    font-size: 3vw;
    font-family: garamond;
    letter-spacing: -3px;
    font-weight: 200;
    font-style: italic;
}

#add{
    top: 50vh;
    left: 150vh;
    position: absolute;
    width: 25vw;
    height: 20vh;
}

#add>h1{
    font-size: 1.5vw;
    font-weight: 100;
    letter-spacing: -2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#add>h2{
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: gilroy;
    margin-top: 10px;
}

#add>button{
    font-size: 1.2vw;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: gilroy;
    margin-top: 20px;
    padding: 12px 22px;
    border: none;
    background-color: #ebe9e6;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

#add>button:hover{
    background-color: black;
    color: #fff;
}

#info{
    width: 18vw;
    height: 10vh;
    left: 15vw;
    top: 94vh;
    text-align: right;
    position: absolute;
}

#info>h1{
    font-size: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;
    font-weight: 200;
}

#info>h2{
    font-size: 1vw;
    font-family: gilroy;
    margin-top: 10px;
    font-weight: 700
}

#follow{
    width: 100vw;
    height: 60vh;
    background-color: #F6F6F4;
    top: 1030vh;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#follow>h1{
    font-size: 5vw;
    font-weight: 100;
    font-family: garamond
}

#photos{
    width: 100vw;
    height: 50vh;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.ll{
    width: 20vw;
    height: 45.3vh;
    position: absolute;
}

.ll>img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#l2{
    left: 20vw;
    position: absolute;
}

#l3{
    left: 40vw;
    position: absolute;
}

#l4{
    left: 60vw;
    position: absolute;
}

#l5{
    left: 80vw;
    position: absolute;
}

#last{
    width: 100vw;
    height: 100vh;
    top: 1090vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#last1{
    width: 50vw;
    height: 100vh;
    position: absolute;
    background-color: #EFECE6;
}

#last2{
    width: 50vw;
    height: 100vh;
    position: absolute;
    left: 50vw;
    background-color: #E4E1DC;
}

#last1>h2{
    font-size: 1.2vw;
    margin-top: 130px;
    margin-left: 20px;
    letter-spacing: 2px;
    font-family: gilroy;
    font-weight: 500;
}

#last1>h1{
    font-size: 3vw;
    margin-top: 10px;
    margin-left: 20px;
    font-family: garamond;
}

#last1>img{
    margin-top: 30px;
}

#last2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#la1{
    width:15vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
}

.la{
    text-decoration: none;
    color: black;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 1.1vw;
    letter-spacing: 2px;
    font-family: gilroy;
    font-weight: 300;
   
}

#la1>a:hover{
    text-decoration: underline;
}

#la2{
    width:15vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
}

#la2>a:hover{
    text-decoration: underline;
}

#la3{
    width:15vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
}

#la3>a:hover{
    text-decoration: underline;
}

@media (max-width: 500px){
    #nav{
        height: 3%;
    }
    #nav1{
        margin-left: 5px;
    }
    #img>img {
        width: 100%;
        height: 70%;
    }
    #img>h1{
        color: black;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        font-size: 26px;
    }
    #btn{
        top: 85%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        background-color: black;
        color: #fff;
    }

    #imgtext{
        top: 92%;
    }
    #it1{
        width: 230%;
    }
    #it1>img{
        height: 44%;
    }

    #it2{
        position: absolute;
        width: 100%;
        top: 45vh;
    }
    #text1 {
        width: 82%;
        height: 5%;
        left: 2%;
        top: 2%;
    }
    #text1>h1{
        font-size: 30px
    }
    #text2 {
        width: 107%;
        height: 5%;
        left: 7%;
        top: 6%;
    }
    #text2>h1{
        font-size: 30px
    }
    #text3 {
        width: 74%;
        height: 5%;
        left: 60%;
        top: 15%;
    }
    #text3>h1{
        font-size: 35px
    }
    #para {
        width: 94%;
        height: 5%;
        left: 3%;
        top: 25%;
        text-align: justify;
    }
    #block{
        top: 225%;
    }
    #linetext {
        top: 48%;
        left: 3%;
        position: absolute;
        width: 80%;
        height: 30%;
        display: block;
    }
    #btn2 {
        top: 70%;
        left: 15%;
    }
    #immg1 {
        width: 41%;
        height: 17%;
        left: 33%;
        top: 8%;
        z-index: 9;
    }
    #immg2 {
        width: 40%;
        height: 15%;
        left: 2.5%;
        top: 2%;
    }
    #immg3{
        display: none;
    }
    #immg5 {
        width: 20%;
        height: 9%;
        z-index: 99;
        left: 65%;
        top: 20%;
    }
    #immg4{
        display: none;
    }
    #blocktext {
        width: 90%;
        height: 10%;
        left: 50%;
        top: 40%;
    }
    #blocktext>h2 {
        font-size: 31px;
    }
    #blocktextpara {
        width: 90%;
        height: 10%;
        left: 50%;
        top: 45%;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
    }
    #blocktextpara>p {
        text-align: justify;
    }
    #blocktextpara>button {
        top: 225%;
    }
    #diffcompany{
        top: -20%;
        height: 50%;
    }
    #qourts {
        width: 95vw;
        height: 10vh;
        left: 0%;
    }
    #Q1>h1{
        font-size: 5vw;
    }
    #Q2>h1{
        font-size: 5vw;
    }
    #Q3>h1{
        font-size: 5vw;
    }
    #Q4>h1{
        font-size: 5vw;
    }
    #Q5>h1{
        font-size: 5vw;
    }
    #logos{
        left: 0%;
        top: 35vh;
    }
    #logos>img {
        width: 65px;
        margin-left: 6px;
    }
    #featured{
        top: 380%;
    }
    #navigation{
        top: 3%;
        left: 2%;
    }
    #navigation>h1{
        font-size: 25px;
    }
    #navigation>h3{
        font-size: 4vw;
        margin-left: 15px;
    }
    #bbt{
        margin-left: 10px;
    }
    #over{
        display: none;
    }
    #over2{
        display: none;
    }
    #over3{
        display: none;
    }
    /* #photu2{
        display: none;
    }
    #photu3{
        display: none;
    } */
    #photodiv{
        height: 170%;
    }
    #photu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 55%;
    }
    #txt1{
        top: 78%;
        left: -2%;
    }
    #txt2{
        top: 74%;
        left: -2%;
    }
    #txt3{
        top: 74%;
        left: -2%;
    }
    #photo1{
        width: 96%;
        left: 2%;
        height: 156%;
    }
    #photo2{
        width: 96%;
        left: 2%;
        height: 156%;
        top: 2%;
    }
    #photo3{
        width: 96%;
        left: 2%;
        height: 156%;
        top: 4%;
    }
    #photu2{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 55%;
    }
    #photo21{
        width: 96%;
        left: 2%;
        height: 156%;
    }
    #photo22{
        width: 96%;
        left: 2%;
        height: 156%;
        top: 2%;
    }
    #photo23{
        width: 96%;
        left: 2%;
        height: 156%;
        top: 4%;
    }
    #photu3{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 55%;
    }
    #photo31{
        width: 96%;
        left: 2%;
        height: 156%;
    }
    #photo32{
        width: 96%;
        left: 2%;
        height: 156%;
        top: 2%;
    }
    #photo33{
        width: 96%;
        left: 2%;
        height: 156%;
        top: 4%;
    }
    #openions{
        top: 58%;
    }
    #headd{
        top: -1%;
    }
    #headd>h1{
        font-size: 45px;
    }
    #screen{
        display: none;
    }
    #Ethical{
        top: -11%;
    }
    #e1{
        display: none;
    }
    #e2{
        width: 100%;
    }
    #e2>img{
        width: 94%;
        left: 3%;
        position: relative;
    }
    #e2>h1{
        font-size: 4vw;
        left: 3%;
        position: relative;
    }
    #e2>p{
        width: 96%;
        font-size: 3.8vw;
        left: 3%;
        position: relative;
    }
    #e3{
        display: none;
    }
    #e4{
        display: none;
    }
    #blac{
        height: 44%;
    }
    #blank{
        top: 184%;
    }
    #to{
        width: 90%;
    }
    #to>h1{
        font-size: 4vw;
    }
    #to>p{
        font-size: 7vw;
        font-family: garamond;
    }
    #to>button{
        font-size: 3vw;
    }
    #get{
        top: 782vh;
        height: 124vh;
    }
    #get>h1{
        font-size: 11vw;
        letter-spacing: 1px;
    }
    #iimmg {
        margin-top: 10px;
        width: 86vw;
        height: 70vh;
    }
    #vintage{
        width: 40vw;
    }
    #vintage>h2{
        font-size: 9vw;
    }
    #iiimg{
        left: 4vw;
        top: 88vh;
    }
    #immmg{
        left: 4vw;
        top: 96vh;
    }
    #info{
        width: 45vw;
        height: 20vh;
        left: 20vw;
        top: 99vh;
    }
    #info>h1{
        font-size: 4vw;
    }
    #info>h2 {
        font-size: 3vw;
        margin-top: 1px;
    }
    #add{
        width: 60vw;
        height: 20vh;
        top: 91vh;
        left: 15vh;
    }
    #add>h1{
        font-size: 5vw;
    }
    #add>h2 {
        font-size: 3vw;
        margin-top: 1px;
    }
    #add>button{
        font-size: 4vw;
        margin-top: 100px;
        font-weight: 500;
    }
    #follow{
        top: 906vh;
    }
    #last{
        top: 966vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #last1{
        width: 100vw;
        height: 50vh;
    }
    #last1>h2 {
        font-size: 6.2vw;
        margin-top: 25px;
        margin-left: 10px;
    }
    #last1>h1 {
        font-size: 5vw;
        margin-left: 10px;
    }
    #last1>img {
        width: 110vw;
        margin-top: 10px;
    }
    #last2 {
        width: 100vw;
        height: 50vh;
        position: absolute;
        left: 0vw;
        top: 35vh;
    }
    #la1{
        width: 33vw;
        margin-top: 10px;
    }
    #la2{
        width: 33vw;
        margin-top: 10px;
    }
    #la3{
        width: 33vw;
        margin-top: 10px;
    }
    .la{
        font-size: 2vw;
        font-weight: 500;
    }
    #nav1{
        display: none;
    }
    #nav2{
        display: none;
    }    
    #nav{
        position: absolute;
    }
    #nav>h1{
        top: 50%;
        left: 40%;
        position: absolute;
    }
}